{% extends 'orders/base.html' %}
{% block content %}
    <div class="menu-container">
    {% for pizza in pizzas %}
        <div class="pizza-container">
            <img src={{ pizza.image.url }} width=340, height=340>
            <div class="pizza-bottom">
                <span class="pizza-name">{{ pizza.name }}</span>
                <div onclick="addToCart({{ pizza.id }}, 'L')">32cm {{ pizza.price_large_size }} zł</div>
                <div onclick="addToCart({{ pizza.id }}, 'M')">28cm {{ pizza.price_medium_size }} zł</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}