{% extends "orders/base.html" %}
{% block content %}
<div class="staff-panel-container">
    {% for order in orders %}
        <div class="staff-panel-order-container">
            <div class="order-date">{{ order.0.timestamp }}</div>
            {% for item in order.1 %}
                <p class="staff-panel-item-container">
                    {% if item.size == "M" %}
                    Średnia
                    {% else %}
                        Duża
                    {% endif %}
                    {{ item.pizza.name }}
                </p>
            {% endfor %}
            <p class="staff-panel-address-container">Adres: {{ order.0.address }}</p>
            <p class="staff-panel-phone-number-container">Nr tel: {{ order.0.phone_number }}</p>
            <p class="staff-panel-email-container">Email: {{ order.0.customer.email }}</p>
            <a class="complete-order" href="/make_order_done?order_id={{ order.0.id }}">Zrobione</a>
        </div>
    {% endfor %}
</div>
<script language="javascript">
    setInterval(function(){
       window.location.reload(1);
    }, 10000);
</script>
{% endblock content %}
